body {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.un {
  flex-direction: row;
  background-color: turquoise;
  width: 1000px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  flex-direction: row;
  float: left;
  background-color: white;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  margin: 20px;
}

.square {
  flex-direction: row;
  float: left;
  background-color: white;
  width: 10px;
  height: 80px;
  margin: 5px;
}
